@import url('https://fonts.googleapis.com/css2?family=Michroma&display=swap');

.header__container{
    background-image: url('../src/banner-home.jpg');
    background-repeat: no-repeat;
    /* background-attachment: fixed; */
    background-size: cover;
    background-position: center top;
    height: 80vh;
}

.navbar{
    display: flex;
    justify-content: space-between;
}
@media (min-width: 769px){
    
}

.navbar__menu-desk{
    display: none;
}
@media (min-width: 769px){
    .navbar__menu-desk{
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        height: 150px;
        color:rgb(227, 227, 227);
        font-family: 'Michroma', sans-serif;
        font-size: 20px;
    }
    .navbar__menu-el{
        margin: 0 15px;
    }
}

.navbar__logo{
    width: 170px;
    margin: 2px 10px;
}

.navbar__hamburger{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
@media (min-width: 769px){
    .navbar__hamburger{
        display: none;
    }
}

.hamburguer__black-box{
    width: 50px;
    height: 10px;
    margin: 4px 20px;
    background-color: rgb(227, 227, 227)
}

.navbar__menu-modal{
    display: none;
    position: absolute;
    left: 0px;
    top: 0px;
    /* cuando tiene display:flex */
    flex-direction: column;
    background: rgb(127,41,207);
    background: linear-gradient(180deg, rgba(127,41,207,1) 0%, rgba(204,68,162,1) 100%);
    height: 100vh;
    width: 100vw;
    justify-content: space-around;
    align-items: center;
}

.menu__close-btn{
    width: 100vw;
    position: absolute;
    left: calc(100vw - 70px);
    top: 15px;
    color: black
    font-family: 'Micrhoma', sans-serif;
    font-size: 30px;

}

.navbar__menu-modal-el{
    display: flex;
    align-items: center;
    font-family: 'Micrhoma', sans-serif;
    height: 150px;
    font-size: 27px;
    margin: 15 0;
}

.header__home{
    margin: 6REM auto;
}

.header__bienvenida{
    font-family: 'Michroma', sans-serif;
    font-size: 38px;
    text-align: center;
    color: white;
    font-weight: 700;
}